{% extends 'base.html' %}
{% load i18n %}
{% block content %}

<div class="container">

	<div class="d-flex flex-column">
		  <p class="m-auto p-2">
              {% trans "Мы отправили вам по электронной почте инструкции по установке вашего пароля, если существует учетная запись с указанным вами адресом электронной почты. Вы должны получить их в ближайшее время." %}
		  </p>
		  <p class="m-auto p-2">
              {% trans "Если вы не получили электронное письмо, пожалуйста, убедитесь, что вы ввели адрес, зарегистрировались и проверили папку со спамом." %}
		  </p>
		  <p class="m-auto p-2"><a href="#">{% trans "Главная" %}</a></p>
	</div>
</div>

{% endblock %}