{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<div class="row" style="margin-bottom: 200px; margin-top: 100px;">
        <div class="col-md-6 offset-md-3">
            <h3 class="text-center">{% trans "Смена пароля" %}</h3>
            <hr>
            <form method="POST" class=" login form-signin">
              {% csrf_token %}
              <label>{% trans "Старый пароль" %}:</label>
              <input name="old_password" class="form-control"  type="password" id="id_old_password" required="true">
              <label>{% trans "Новые пароль" %}:</label>
              <input name="new_password1" class="form-control" type="password" id="id_new_password1" required="true">
              <label>{% trans "Новый пароль еще раз" %}:</label>
              <input name="new_password2" class="form-control" type="password" id="id_new_password2" required="true">
              <p></p>
              {% for field in form %}
                {% for error in field.errors %}
                  <p style="color: red">{{ error }}</p>
                {% endfor %}
              {% endfor %}

              <button class="btn login-btn" type="submit"{% trans "Обновить" %}></button>
            </form>
        </div>
</div>



{% endblock %}